* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: 'Inter', 'Times New Roman', sans-serif;
    padding: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto; /* "auto" means height adapts to the content's size */
    grid-template-areas: 
        "header header header"
        "nav main-content sidebar"
        "footer footer footer";
    gap: 1rem;
    min-height: 100vh;
}

.grid-container div {
    text-align: center;
    font-weight: 600;
}

.header, 
.sidebar, 
.nav {
    color: #fff;
}

.header {
    background-color: #3b83f6;
    padding: 1rem;
    border-radius: 8px;
    grid-area: header;
}

.nav {
    background-color: #f87171;
    padding: 1rem;
    border-radius: 8px;
    grid-area: nav;
}

.sidebar {
    background-color: #1f2937;
    padding: 1rem;
    border-radius: 8px;
    grid-area: sidebar;
}

.main-content {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    grid-area: main-content;
}

.footer {
    background-color: #fcd34d;
    padding: 1rem;
    border-radius: 8px;
    grid-area: footer;
}